# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Thumbs
Thumbs.db
ehthumbs.db

# Logs
*.log
npm-debug.log*
